    <!-- Footer -->
    <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <span class="copyright">{{ site.data.default.copyright }}</span>
            </div>
            <div class="col-md-4">
              <span class="copyright"><a href="https://github.com/rayheffer/existence">Existence Theme by Ray Heffer</a></span>
            </div>
            <div class="col-md-4">
              <ul class="list-inline quicklinks">
                {%- for ql in site.data.default.quicklinks -%}
                {% assign ws = '' %}
                <li class="list-inline-item">
                  <a href="{{ ql.url }}">{{ ql.title }}</a>
                </li>
                {%- endfor -%}
              {% assign ws = '' %}
              </ul>
            </div>
          </div>
        </div>
      </footer>