{%- assign assets_path = "/assets/" -%}
{%- if site.assets_path -%}
  {%- assign assets_path = site.assets_path -%}
{%- endif -%}

{% include head.html %}

  <body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        {% include container.html %}
    <!-- End Navigation -->
    
    <!-- Show content -->
    {% if page.url != "/" %}
    <div class="content animated fadeInDown fast">{{ content }}</div>
    {% elsif page.url == "/" %}
    {{ content }}
    {% endif %}
    <!-- End content -->
    
    {% include footer.html %}

    {% include scripts.html %}

    {% if page.url != "/" %}
    <script src="{{ assets_path }}js/activemenu.js"></script>
    {% endif %}

  </body>

</html>
