{%- assign assets_path = "/assets/" -%}
{%- if site.assets_path -%}
  {%- assign assets_path = site.assets_path -%}
{%- endif -%}

{% include head.html %}

  <body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <!-- Main Container -->
        {% include container.html %}
    <!-- End Navigation -->
    
    <!-- Show content -->
        {{ content }}
    <!-- End content -->
    
    {% include footer.html %}

    <!-- Plugin JavaScript -->
    <script src="{{ assets_path }}vendor/jquery-easing/jquery.easing.min.js"></script>
    
    <!-- Custom scripts for this template -->
    <script src="{{ assets_path }}js/existence.js"></script>

  </body>

</html>
